{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(beer) }}
    <h1>{{ beer.name | suffix(' test') }}</h1>
{% endblock %}

{% block title %}

    {% set twigVar = 'expr' %}

    {% for article in 'a'..'e' %}
        {{ loop.index0 }}
    {% else %}
        pas d'article {{ 'publié' | suffix(' test') }}
    {% endfor %}

{% endblock %}

